<header class="faux-table">

  <div class="faux-table__inner site-header">

    <h1 class="site-header__title">{{ site.title }}</h1>
    <p class="site-header__desc">{{ site.description }}</p>
    <p class="site-header__contact">
      <a href="mailto:russellmharmon@gmail.com">contact<span class="a18y"> me</span></a> |
      <a href="https://uk.linkedin.com/in/russellmharmon"><span class="a18y">connect with me on </span>linkedin</a> |
      <a href="https://www.twine.fm/russellmharmon"><span class="a18y">connect with me on </span>Twine</a>
      
    </p>
    <p class="site-header__anchor"><a href="#showreel">VIEW SHOWREEL</a></p>

  </div>

</header>
