body {
    max-width: 960px;
    margin: 0 auto;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

a {
  color: $text-color;
  text-decoration: none;
}

.faux-table {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: table;

  &__inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.site-header {
  &__title {
    font-size: $base-font-size * 2;
    text-transform: uppercase;
  }

  &__desc {
    text-transform: uppercase;
    font-style: italic;
  }

  &__contact {
    padding: 12px 0;
    font-family: "Times New Roman", Georgia, serif;
    font-style: italic;

    a {
      &:hover,
      &:active,
      &:focus {
        border-bottom: 1px solid $text-color;
      }
    }
  }

  &__anchor {
    font-weight: 700;

    a {
      border-bottom: 0px solid $text-color;

      &:hover,
      &:active,
      &:focus {
        border-bottom-width: 2px;
      }
    }
  }
}

.media {
  position: relative;
  max-width: 960px;
	height: 0;
	padding-bottom: 56.25%;

  &__player {
  	position: absolute;
  	top: 0;
  	left: 0;
    width: 100%;
    height: 100%;
  }
}

.a18y {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
